<div id="beauty-profile-modal" class="beauty-profile-modal-overlay overlay inset-0 hidden fixed z-9999 items-center justify-center">
  <div class="beauty-profile-modal-content pt-40 pr-32 pb-40 pl-32 relative w-full rounded-16 bg-bg">
    <button id="beauty-profile-modal-close-btn" class="beauty-profile-modal-close-btn absolute top-24 right-24 bg-transparent border-none cursor-pointer w-28 h-28">{% render "icon-close", cls: "w-28 h-28 svg-primary-optional" %}</button>
    <div id="beauty-profile-modal-body" class="flex flex-col gap-16">
    </div>
  </div>
</div>
