<div class="flex flex-col gap-24">
  <div class="p-16 flex items-center gap-8 rounded-12 bg-warning-alt">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.90318 17.4983C2.6628 17.4983 1.85938 16.5821 1.85938 15.4545C1.85938 15.1162 1.95804 14.7779 2.14128 14.4537L8.23042 3.54402C8.62508 2.83926 9.30166 2.50098 10.0064 2.50098C10.683 2.50098 11.3596 2.82517 11.7542 3.54402L17.8575 14.4537C18.0548 14.7779 18.1394 15.1162 18.1394 15.4545C18.1394 16.5821 17.3218 17.4983 16.0956 17.4983H3.90318ZM9.99232 11.8602C10.5843 11.8602 10.9931 11.4655 11.0213 10.9017L11.134 7.05373C11.1622 6.39126 10.683 5.94021 9.99232 5.94021C9.31575 5.94021 8.83651 6.39126 8.8647 7.05373L8.97746 10.9017C9.00565 11.4655 9.41442 11.8602 9.99232 11.8602ZM9.99232 15.3699C10.7535 15.3699 11.3314 14.8061 11.3314 14.0591C11.3314 13.3543 10.7535 12.7764 9.99232 12.7764C9.25937 12.7764 8.66737 13.3402 8.66737 14.0591C8.66737 14.8061 9.24528 15.3699 9.99232 15.3699Z" fill="#F48A19"/>
    </svg>

    <p class="fw-400 fs-14-lh-20-ls-0 sm:fs-21-lh-21-ls-0_252">{{ 'beauty_profile.consultation.heading' | t }}</p>
  </div>
  <div class="rte">
    {{ shop.metafields.custom.beauty_profile_consultation | metafield_tag }}
  </div>
</div>