<style>
  #sort-close-btn svg path {
    fill: #90989c;
  }
</style>
<div
  class="close-button cursor-pointer border-1 border-solid border-color rounded-full h-44 w-44 flex items-center justify-center cursor-pointer"
  id="{{ id }}"
>
  {% render 'icon-close', height: 16, width: 16 %}
</div>
