<style>
  .link-button {
    color: rgb(var(--color-background));
  }
</style>

<a href="{{ url }}" class="link-button fw-600 fs-14-lh-100pct-ls-0 ff-general-sans uppercase {{ cls }}">
  {{ button_text }}
</a>