<button class="nav-button w-44 h-44 bg-brand-2 text-primary rounded-full border-none cursor-pointer flex items-center justify-center absolute top-50pct translate-y--50 z-10 {{ cls }}" aria-label="Next slide">
  {% render "icon-arrow", cls: icon_cls %}
</button>