{% assign status_class = '' %}
{% case order.financial_status %}
  {% when 'paid' %}
    {% assign status_class = 'status-paid' %}
  {% when 'pending' %}
    {% assign status_class = 'status-pending' %}
  {% when 'authorized' %}
    {% assign status_class = 'status-authorized' %}
  {% when 'partially_paid' %}
    {% assign status_class = 'status-partially-paid' %}
  {% when 'partially_refunded' %}
    {% assign status_class = 'status-partially-refunded' %}
  {% when 'refunded' %}
    {% assign status_class = 'status-refunded' %}
  {% when 'voided' %}
    {% assign status_class = 'status-voided' %}
  {% when 'cancelled' %}
    {% assign status_class = 'status-cancelled' %}
  {% else %}
    {% assign status_class = 'status-ongoing' %}
{% endcase %}

<div class="ff-general-sans fw-400 fs-16-lh-24-ls-0 flex items-center gap-4 justify-start">
  <span class="rounded-full h-10 w-10 {{ status_class }}"></span>
  {{ order.financial_status_label }}
</div>
