<product-form class="product-form">
  {%- form 'product', product -%}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <button type="submit" name="add" class="button button--outline flex items-center justify-center gap-4">
      {% render "cart-icon" %}
      {{ 'general.cart.add_to_cart.label' | t }}
    </button>
  {%- endform -%}
</product-form>