{%- assign current_variant = product.selected_or_first_available_variant -%}

<div {{ block.shopify_attributes }}>
  {% render "product-form", current_variant: current_variant, show_buy_button: true, show_icon: true, inline_button: true, cls: "flex gap-8 mb-24" %}
</div>