{% if customer %}
  <button 
    class="wishlist-btn cursor-pointer {{ cls }}" 
    data-product-handle="{{ product.handle }}"
  >
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.98455 8.97461C2.98455 6.10742 4.96893 4.10742 7.52361 4.10742C9.00799 4.10742 10.1799 4.80273 10.8752 5.82617C11.5783 4.79492 12.7424 4.10742 14.2267 4.10742C16.7892 4.10742 18.7658 6.10742 18.7658 8.97461C18.7658 12.3184 15.9689 15.6152 11.6017 18.4277C11.3674 18.5762 11.0783 18.7246 10.8752 18.7246C10.6799 18.7246 10.383 18.5762 10.1486 18.4277C5.78143 15.6152 2.98455 12.3184 2.98455 8.97461ZM4.55486 8.97461C4.55486 11.7402 7.43768 14.7949 10.7267 16.9824C10.7971 17.0293 10.8439 17.0605 10.8752 17.0605C10.9064 17.0605 10.9533 17.0293 11.0236 16.9824C14.3127 14.7949 17.1955 11.7402 17.1955 8.97461C17.1955 6.99023 15.8908 5.6543 14.1408 5.6543C12.7346 5.6543 11.9689 6.52148 11.4455 7.26367C11.2111 7.56836 11.0783 7.67773 10.8752 7.67773C10.6721 7.67773 10.5236 7.57617 10.3049 7.26367C9.81268 6.51367 9.02361 5.6543 7.60955 5.6543C5.85955 5.6543 4.55486 6.99023 4.55486 8.97461Z" fill="#90989C"/>
    </svg>
  </button>
{% else %}
  <a 
    class="cursor-pointer {{ cls }}" 
    href="{{ routes.account_login_url }}"
  >
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.98455 8.97461C2.98455 6.10742 4.96893 4.10742 7.52361 4.10742C9.00799 4.10742 10.1799 4.80273 10.8752 5.82617C11.5783 4.79492 12.7424 4.10742 14.2267 4.10742C16.7892 4.10742 18.7658 6.10742 18.7658 8.97461C18.7658 12.3184 15.9689 15.6152 11.6017 18.4277C11.3674 18.5762 11.0783 18.7246 10.8752 18.7246C10.6799 18.7246 10.383 18.5762 10.1486 18.4277C5.78143 15.6152 2.98455 12.3184 2.98455 8.97461ZM4.55486 8.97461C4.55486 11.7402 7.43768 14.7949 10.7267 16.9824C10.7971 17.0293 10.8439 17.0605 10.8752 17.0605C10.9064 17.0605 10.9533 17.0293 11.0236 16.9824C14.3127 14.7949 17.1955 11.7402 17.1955 8.97461C17.1955 6.99023 15.8908 5.6543 14.1408 5.6543C12.7346 5.6543 11.9689 6.52148 11.4455 7.26367C11.2111 7.56836 11.0783 7.67773 10.8752 7.67773C10.6721 7.67773 10.5236 7.57617 10.3049 7.26367C9.81268 6.51367 9.02361 5.6543 7.60955 5.6543C5.85955 5.6543 4.55486 6.99023 4.55486 8.97461Z" fill="#90989C"/>
    </svg>
  </a>
{% endif %}

