<style>
  /* .customer-account {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  } */
  /* .customer-account__container {
    display:flex;
  } */

  @media screen and (max-width: 768px) {
    .customer-account__container {
      flex-direction: column;
      gap: 16px !important;
    }

  }
</style>

<div class="customer-account pt-40 pb-0">
  <div class="customer-account__container flex gap-64 page-width">
    {% render 'customer-account-sidebar' %}
    {% render 'account-information', customer: customer %}
  </div>
</div>

{% schema %}
{
  "name": "Main Account",
  "settings": []
}
{% endschema %}
