<div class="product-container page-width">
  {% render "breadcrumbs" %}

  <div class="product-grid flex gap-32">
    <!-- Product Images Section -->
    <div class="product-media w-578">
      {% render 'product-media-gallery', product: product, block: section %}
    </div>

    <!-- Product Info Section -->
    <div class="product-info">
      <div class="product-header">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when "title" %}
              {% render "product-title", product: product, cls: "fw-400 fs-45-lh-45-ls--1_8pct mb-32" %}

            {% when "sku_vendor_type" %}
              {% render "product-sku-vendor-type", product: product %}

            {% when "price" %}
              {% render "product-price", product: product %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Product",
  "settings": [],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "sku_vendor_type",
      "name": "Sku, vendor & type",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
  ]
}
{% endschema %}
