<style>
  .customer-account {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .customer-account__container {
    display:flex;
  }
  .customer-account__information-empty {
    flex: 1;
  }
</style>

<div class="customer-account">
  <div>customer {{ customer.first_name }}</div>
  <div class="customer-account__container gap-64 page-width">
    {% render 'customer-account-sidebar' %}
    {% render 'account-information', customer: customer %}
  </div>
</div>

{% schema %}
{
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40,
      "unit": "px"
    }
  ]
}
{% endschema %}
