<div class="product-container page-width">
  {% render "breadcrumbs" %}

  <div class="product-grid flex gap-32">
    <!-- Product Images Section -->
    <div class="product-media w-578">
      {% render 'product-media-gallery', product: product, block: section %}
    </div>

    <!-- Product Info Section -->
    <div class="product-info">
      <div class="product-header">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when "title" %}
              {% render "product-title", block: block, product: product, cls: "fw-400 fs-45-lh-45-ls--1_8pct mb-32" %}

            {% when "sku_vendor_type" %}
              {% render "product-sku-vendor-type", block: block, product: product %}

            {% when "price" %}
              {% render "product-price", block: block, product: product %}

            {% when "rating" %}
              {% render "product-rating", block: block, product: product %}

            {% when "weight" %}
              {% render "product-weight", block: block, product: product %}

            {% when "buy_buttons" %}
              {% render "product-buy-buttons", block: block, product: product %}

            {% when "offer_button" %}
              {% render "product-offer-button", block: block %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% render "product-review" %}
{% schema %}
{
  "name": "Main Product",
  "settings": [],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "sku_vendor_type",
      "name": "Sku, vendor & type",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "rating",
      "name": "Rating",
      "limit": 1
    },
    {
      "type": "weight",
      "name": "Weight",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1
    },
    {
      "type": "offer_button",
      "name": "Offer button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "offer_button_text",
          "label": "Offer button text",
          "default": "On Going Offers"
        },
        {
          "type": "url",
          "id": "offer_button_url",
          "label": "Offer button url"
        }
      ]
    }
  ]
}
{% endschema %}
