<style></style>

<style></style>

{%- if predictive_search.performed -%}
  <div
    id="predictive-search-results"
    class="flex flex-col gap-24 page-width pt-24 pb-24 sm:pt-16 sm:pb-16 max-h-550"
  >
    {%- if predictive_search.resources.products.size > 0 -%}
      <h1 class="m-0 ff-bebas-neue fs-36-lh-40-ls-0 fw-400 sm:fs-21-lh-24-ls-1_2pct">
        {{ 'sections.header.product' | t }}
      </h1>
      <div class="max-h-500 overflow-y-auto overflow-x-hidden scrollbar-hidden pt-5 pb-4 pl-4 pr-4">
        <div
          role="listbox"
          aria-labelledby="predictive-search-products"
          id="predictive-search-products"
          class="grid grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-12"
        >
          {%- for product in predictive_search.resources.products limit: 10 -%}
            {% render 'product-card', product: product %}
          {%- endfor -%}
        </div>
      </div>

    {% else %}
      <h1 class="m-0 text-center justify-center flex ff-bebas-neue fs-36-lh-40-ls-0 fw-400">
        {{ 'sections.header.no_result' | t }} "{{ predictive_search.terms }}"
      </h1>
    {%- endif -%}
  </div>
{%- endif -%}
