{%- if predictive_search.performed -%}
  <div id="predictive-search-results " class="flex flex-col gap-24 page-width pt-24 pb-32">
    {%- if predictive_search.resources.products.size > 0 -%}
      <h1 class="m-0 ff-bebas-neue fs-36-lh-40-ls-0  fw-400">{{ 'sections.header.product' | t }}</h1>
      <div
        role="listbox"
        aria-labelledby="predictive-search-products"
        class="grid grid-cols-5 gap-16 "
      >
        {%- for product in predictive_search.resources.products -%}
          {% render 'product-card', product: product %}
        {%- endfor -%}
      </div>
    {% else %}
      <h1 class="m-0  text-center justify-center flex ff-bebas-neue fs-36-lh-40-ls-0  fw-400">
        No products found for "{{ predictive_search.query }}"
      </h1>
    {%- endif -%}
  </div>
{%- endif -%}
