.collections-list__content {
  background: rgb(var(--color-primary-brand));
  padding: 12px 8px;
  border-radius: 0 0 32px 32px;
}

.collections-list__name {
  color: rgb(var(--color-background));
  text-align: center;
  margin: 0 !important;
}

@media screen and (max-width: 768px) {
  .collections-list__image {
    height: 90px;
  }

  .collections-list__content {
    padding: 4px 3px;
    border-radius: 0 0 13px 13px;
  }
  .collections-list__swiper-wrapper .swiper-slide {
    margin-right: 10px !important;
  }
}
