/* .footer__menu-toggle {
  display: none;
} */

@media screen and (max-width: 768px) {
  footer .icon--minus {
    display: none;
  }

  .footer__menu-toggle.expanded .icon--plus {
    display: none;
  }

  .footer__menu-toggle.expanded .icon--minus {
    display: block;
  }

  .footer__menu-toggle[aria-expanded="true"] + .footer__menu-list {
    margin-top: 16px;
  }

  .footer__menu-list.expanded {
    max-height: none !important;
  }
}
