@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;
  background-color: rgba(var(--bg-color));
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

summary {
  overflow: hidden;
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

mark {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
}

.color-scheme {
  background: rgb(var(--color-background));
  color: rgb(var(--color-primary-text));
}

/* Text color utilities */
.text-inherit {
  color: inherit;
}
.text-bg {
  color: rgb(var(--color-background));
}
.text-primary {
  color: rgb(var(--color-primary-text));
}
.text-primary-70pct {
  color: rgba(var(--color-primary-text), 0.7);
}
.text-label {
  color: rgb(var(--color-primary-label));
}
.text-label-light {
  color: rgba(var(--color-primary-label), 0.7);
}
.text-secondary {
  color: rgb(var(--color-secondary-text));
}
.text-secondary-light {
  color: rgba(var(--color-secondary-text), 0.6);
}
.bg-secondary-light-20pct {
  background-color: rgba(var(--color-secondary-text), 0.02);
}
.text-brand {
  color: rgb(var(--color-primary-brand));
}
.text-brand-2 {
  color: rgb(var(--color-secondary-brand));
}
.svg-brand path {
  stroke: rgb(var(--color-primary-brand));
  fill: rgb(var(--color-primary-brand));
}
.svg-bg path {
  stroke: rgb(var(--color-background));
}

/* Background color utilities */
.bg-bg {
  background-color: rgb(var(--color-background));
}
.bg-primary {
  background-color: rgb(var(--color-primary-text));
}
.bg-label {
  background-color: rgb(var(--color-primary-label));
}
.bg-secondary {
  background-color: rgb(var(--color-secondary-text));
}
.bg-brand {
  background-color: rgb(var(--color-primary-brand));
}
.bg-brand-2 {
  background-color: rgb(var(--color-secondary-brand));
}
.bg-light-blue {
  background-color: #e7f1ff;
}
.bg-light-gray {
  background-color: #efeeec;
}
.bg-success-light {
  background-color: #dbffd8;
}
.bg-transparent {
  background-color: transparent;
}
.bg-none {
  background: none;
}
@media screen and (max-width: 768px) {
  .sm\:bg-none {
    background: none;
  }
}

@media screen and (max-width: 768px) {
  .sm\:bg-none {
    background: none;
  }

  .sm\:border-box {
    box-sizing: border-box;
  }
}

:root {
  --fluid-vw: 100vw;
  --fluid-max-vw: 1536;
  --fluid-calc: (var(--fluid-vw) - 32rem) / (var(--fluid-max-vw) / 10 - 32) +
    0.1rem;
  --fluid-1-065: ((1.065 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-125: ((1.125 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-2: ((1.2 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-25: ((1.25 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-3: ((1.3 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-4: ((1.4 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-5: ((1.5 / 10 - 0.1) * var(--fluid-calc));
}

:root {
  --column-gap: var(--grid-column-gap);
  --gutter: var(--gutter-sm, 20px);
  --row-gap: calc(10 * var(--space-unit));
  --space-unit: 0.1rem;
  --font-unit: 0.1rem;
  --viewport-width: calc(100vw - var(--scrollbar-width, 0));
}

.container {
  width: 100%;
  max-width: calc(var(--page-width, 1320px) + var(--gutter) * 2);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 16px; /* default padding for mobile or small screens */
}

/* Tablet: 768px to 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-width {
    padding: 0 32px;
  }
}

/* Small desktop: 1024px to 1439px */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .page-width {
    padding: 0 48px;
  }
}

/* Large desktop: 1440px and above */
@media screen and (min-width: 1440px) {
  .page-width {
    padding: 0;
  }
}

body {
  color: rgb(var(--text-color));
  font-family: "General Sans", sans-serif;
  font-size: calc(var(--body-font-size) * 0.1rem);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  line-height: 1.5;
}

.h0,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.font-heading {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}

/* font family */
.ff-general-sans {
  font-family: "General Sans", sans-serif;
}

.ff-bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}

.ff-inter {
  font-family: "Inter", sans-serif;
}

/* Desktop styles */
:root {
  --font-unit: 0.1rem; /* 1px */
}

/* Desktop Typography */
.fs-11-lh-11-ls--2_5 {
  font-size: calc(11 * var(--font-unit));
  line-height: calc(11 * var(--font-unit));
  letter-spacing: calc(-0.025 * 11 * var(--font-unit));
}

.fs-11-lh-normal-ls-0_5 {
  font-size: 11px;
  line-height: normal;
  letter-spacing: 0.5px;
}

.fs-11-lh-11-ls--0_275 {
  font-size: 11px;
  line-height: 11px;
  letter-spacing: -0.275px;
}

.fs-12-lh-16-ls-0_6 {
  font-size: calc(12 * var(--font-unit));
  line-height: calc(16 * var(--font-unit));
  letter-spacing: calc(0.006 * var(--font-unit));
}

.fs-12-lh-16-ls-0_072 {
  font-size: calc(12 * var(--font-unit));
  line-height: calc(16 * var(--font-unit));
  letter-spacing: calc(
    0.006 * var(--font-unit)
  ); /* 0.072px at base font unit */
}

.fs-13-lh-16-ls-0_2 {
  font-size: calc(13 * var(--font-unit));
  line-height: calc(16 * var(--font-unit));
  letter-spacing: calc(0.002 * var(--font-unit));
}

.fs-14-lh-16-ls-0 {
  font-size: calc(14 * var(--font-unit));
  line-height: calc(16 * var(--font-unit));
  letter-spacing: 0;
}

.fs-14-lh-20-ls-0 {
  font-size: calc(14 * var(--font-unit));
  line-height: calc(20 * var(--font-unit));
  letter-spacing: 0;
}

.fs-14-lh-20-ls-0_1 {
  font-size: calc(14 * var(--font-unit));
  line-height: calc(20 * var(--font-unit));
  letter-spacing: calc(0.001 * var(--font-unit));
}

.fs-14-lh-100pct-ls-0 {
  font-size: calc(14 * var(--font-unit));
  line-height: 100%;
  letter-spacing: 0;
}

.fs-14-lh-100pct-ls-2pct {
  font-size: calc(14 * var(--font-unit));
  line-height: 100%;
  letter-spacing: calc(2 * var(--font-unit));
}

.fs-16-lh-16-ls-0 {
  font-size: calc(16 * var(--font-unit));
  line-height: calc(16 * var(--font-unit));
  letter-spacing: 0;
}

.fs-16-lh-16-ls-0 {
  font-size: calc(16 * var(--font-unit));
  line-height: calc(20 * var(--font-unit));
  letter-spacing: calc(0.1 * var(--font-unit));
}
.fs-16-lh-22-ls-0 {
  font-size: calc(16 * var(--font-unit));
  line-height: calc(22 * var(--font-unit));
  letter-spacing: 0;
}

.fs-16-lh-100pct-ls-0 {
  font-size: calc(16 * var(--font-unit));
  line-height: 100%;
  letter-spacing: 0;
}

.fs-16-lh-24-ls-0 {
  font-size: calc(16 * var(--font-unit));
  line-height: calc(24 * var(--font-unit));
  letter-spacing: 0;
}

.fs-21-lh-24-ls-1_2 {
  font-size: calc(21 * var(--font-unit));
  line-height: calc(24 * var(--font-unit));
  letter-spacing: calc(1.2 * var(--font-unit));
}

.fs-21-lh-24-ls-1_2pct {
  font-size: calc(21 * var(--font-unit));
  line-height: calc(24 * var(--font-unit));
  letter-spacing: calc(0.012 * var(--font-unit));
}

.fs-23-lh-24-ls-0 {
  font-size: calc(23 * var(--font-unit));
  line-height: calc(24 * var(--font-unit));
  letter-spacing: 0;
}

.fs-26-lh-26-ls-1_2 {
  font-size: calc(26 * var(--font-unit));
  line-height: calc(26 * var(--font-unit));
  letter-spacing: calc(0.012 * var(--font-unit));
}

.fs-36-lh-40-ls-0 {
  font-size: calc(36 * var(--font-unit));
  line-height: calc(40 * var(--font-unit));
  letter-spacing: 0;
}

/* Mobile styles using media query */
@media (max-width: 768px) {
  .sm\:fs-12-lh-16-ls-0_6pct {
    font-size: calc(12 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: calc(0.006 * var(--font-unit));
  }

  .sm\:fs-13-lh-16-ls-0_2 {
    font-size: calc(13 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: calc(0.002 * var(--font-unit));
  }

  .sm\:fs-14-lh-20-ls-0_1 {
    font-size: calc(14 * var(--font-unit));
    line-height: calc(20 * var(--font-unit));
    letter-spacing: calc(0.001 * var(--font-unit));
  }

  .sm\:fs-14-lh-16-ls-0 {
    font-size: calc(14 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: 0;
  }

  .sm\:fs-14-lh-20-ls-0 {
    font-size: calc(14 * var(--font-unit));
    line-height: calc(20 * var(--font-unit));
    letter-spacing: 0;
  }

  .sm\:fs-15-lh-16-ls--1_2pct {
    font-size: calc(15 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: calc(-0.012 * var(--font-unit));
  }

  .sm\:fs-16-lh-16-ls-0 {
    font-size: calc(16 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: 0;
  }

  .sm\:fs-16-lh-24-ls-0 {
    font-size: calc(16 * var(--font-unit));
    line-height: calc(24 * var(--font-unit));
    letter-spacing: 0;
  }

  .sm\:fs-17-lh-24-ls-0 {
    font-size: calc(17 * var(--font-unit));
    line-height: calc(24 * var(--font-unit));
    letter-spacing: 0;
  }

  .sm\:fs-21-lh-24-ls-1_2pct {
    font-size: calc(21 * var(--font-unit));
    line-height: calc(24 * var(--font-unit));
    letter-spacing: calc(0.012 * var(--font-unit));
  }

  .sm\:fs-26-lh-40-lh-0 {
    font-size: calc(26 * var(--font-unit));
    line-height: calc(40 * var(--font-unit));
    letter-spacing: 0;
  }
}

/* font weight */
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.box-shadow {
  box-shadow: 0 2px 14px 0 rgba(3, 11, 26, 0.1);
}

/* icon arrow */
.icon-arrow-left {
  transform: rotate(180deg);
}

.rotate--90deg {
  transform: rotate(-90deg);
}

hr {
  width: 100%;
  height: 1px;
  margin: calc(6 * var(--space-unit)) 0;
  border: 0;
  background-color: rgba(var(--text-color) / 0.15);
}

address {
  font-style: normal;
}

.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}
.user-select-none {
  user-select: none;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.static {
  position: static;
}
.inset-0 {
  inset: 0;
}
.bottom-0 {
  bottom: 0;
}
.bottom-8 {
  bottom: 8px;
}
.left-0 {
  left: 0;
}
.left-15 {
  left: 15px;
}
.left-24 {
  left: 24px;
}
.left-40 {
  left: 40px;
}
.left-50pct {
  left: 50%;
}
.left-10p-52 {
  left: calc(10% - 52px);
}
.right-0 {
  right: 0;
}
.right-8 {
  right: 8px;
}
.right-12 {
  right: 12px;
}
.right-20 {
  right: 20px;
}
.right-24 {
  right: 24px;
}
.right-40 {
  right: 40px;
}
.right-10p-52 {
  right: calc(10% - 52px);
}
.top-0 {
  top: 0;
}
.top-20 {
  top: 20px;
}
.top-50pct {
  top: 50%;
}
.top-100pct {
  top: 100%;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 3;
}
.z-10 {
  z-index: 10;
}
.z-1000 {
  z-index: 1000;
}
.z-1001 {
  z-index: 1001;
}
.z-9999 {
  z-index: 9999;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-full {
  grid-column: 1 / -1;
}
.col-start-1 {
  grid-column-start: 1;
}
.col-end-3 {
  grid-column-end: 3;
}
.row-span-2 {
  grid-row: span 2 / span 2;
}
.row-span-3 {
  grid-row: span 3 / span 3;
}
.m-0 {
  margin: 0;
}
.m-0-auto {
  margin: 0 auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: var(--space-unit);
}
.mb-10 {
  margin-bottom: calc(10 * var(--space-unit));
}
.mb-12 {
  margin-bottom: calc(12 * var(--space-unit));
}
.mb-16 {
  margin-bottom: calc(16 * var(--space-unit));
}
.mb-2 {
  margin-bottom: calc(2 * var(--space-unit));
}
.mb-3 {
  margin-bottom: calc(3 * var(--space-unit));
}
.mb-4 {
  margin-bottom: calc(4 * var(--space-unit));
}
.mb-5 {
  margin-bottom: calc(5 * var(--space-unit));
}
.mb-6 {
  margin-bottom: calc(6 * var(--space-unit));
}
.mb-8 {
  margin-bottom: calc(8 * var(--space-unit));
}
.mb-section {
  margin-bottom: calc(var(--section-gap) * var(--fluid-1-5));
}
.ml-auto {
  margin-left: auto;
}
.ml-50pct {
  margin-left: 50%;
}
.ml-2 {
  margin-left: calc(2 * var(--space-unit));
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mr-2 {
  margin-right: calc(2 * var(--space-unit));
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: var(--space-unit);
}
.mt-10 {
  margin-top: calc(10 * var(--space-unit));
}
.mt-12 {
  margin-top: calc(12 * var(--space-unit));
}
.mt-16 {
  margin-top: calc(16 * var(--space-unit));
}
.mt-2 {
  margin-top: calc(2 * var(--space-unit));
}
.mt-3 {
  margin-top: calc(3 * var(--space-unit));
}
.mt-4 {
  margin-top: calc(4 * var(--space-unit));
}
.mt-5 {
  margin-top: calc(5 * var(--space-unit));
}
.mt-6 {
  margin-top: calc(6 * var(--space-unit));
}
.mt-8 {
  margin-top: calc(8 * var(--space-unit));
}

@media screen and (max-width: 768px) {
  .sm\:mr-10 {
    margin-right: 10px;
  }
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: 1fr;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-cols-fixed-2 {
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .md\:visible {
    visibility: visible;
  }

  .md\:left-11p-52 {
    left: calc(11% - 52px);
  }
  .md\:right-11p-52 {
    right: calc(11% - 52px);
  }

  .md\:gap-16 {
    gap: 16px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .lg\:left-10p-52 {
    left: calc(10% - 52px);
  }
  .lg\:right-10p-52 {
    right: calc(10% - 52px);
  }

  .lg\:gap-20 {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .sm\:mt-0 {
    margin-top: 0;
  }

  .sm\:m-0-auto {
    margin: 0 auto;
  }
  .sm\:left-8 {
    left: 8px;
  }
  .sm\:block {
    display: block;
  }
  .sm\:right-8 {
    right: 8px;
  }

  .sm\:relative {
    position: relative;
  }
}
.inline-grid {
  display: inline-grid;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.max-h-0 {
  max-height: 0;
}
.h-full {
  height: 100%;
}
.h-auto {
  height: auto;
}
.h-600 {
  height: 600px;
}
.h-508 {
  height: 508px;
}
.h-408 {
  height: 408px;
}
.h-410 {
  height: 410px;
}
.h-412 {
  height: 412px;
}
.h-340 {
  height: 340px;
}
.h-308 {
  height: 308px;
}
.h-254 {
  height: 254px;
}
.h-225 {
  height: 225px;
}
.h-200 {
  height: 200px;
}
.h-180 {
  height: 180px;
}
.h-154 {
  height: 154px;
}
.h-56 {
  height: 56px;
}
.h-48 {
  height: 48px;
}
.h-44 {
  height: 44px;
}
.h-40 {
  height: 40px;
}
.h-32 {
  height: 32px;
}
.h-28 {
  height: 28px;
}
.h-20 {
  height: 20px;
}
.h-14 {
  height: 14px;
}
.h-12 {
  height: 12px;
}
.h-8 {
  height: 8px;
}
.h-2 {
  height: 2px !important;
}
.min-h-56 {
  min-height: 56px;
}
.min-h-24 {
  min-height: 24px;
}
.w-mx-content {
  width: max-content;
}
.w-auto {
  width: auto;
}
.w-auto-priority {
  width: auto !important;
}
.w-full {
  width: 100%;
}
.w-1134 {
  width: 1134px;
}
.w-300 {
  width: 300px;
}
.w-293 {
  width: 293px;
}
.w-268 {
  width: 268px;
}
.w-240 {
  width: 240px;
}
.w-177 {
  width: 177px;
}
.w-56 {
  width: 56px;
}
.w-44 {
  width: 44px;
}
.w-40 {
  width: 40px;
}
.w-32 {
  width: 32px;
}
.w-28 {
  width: 28px;
}
.w-14 {
  width: 14px;
}
.w-48 {
  width: 48px;
}
.w-325 {
  width: 325px;
}
.w-20 {
  width: 20px;
}
.w-12 {
  width: 12px;
}

.w-8 {
  width: 8px;
}
.max-w-full {
  max-width: 100%;
}
.max-w-none {
  max-width: none;
}
.max-w-100pc-32 {
  max-width: calc(100% - 32px);
}
.max-w-120 {
  max-width: 120px;
}
.min-w-406 {
  min-width: 406px;
}
.min-w-200 {
  min-width: 200px;
}
.min-w-430 {
  min-width: 430px;
}
.min-w-100 {
  min-width: 100px;
}
.min-w-1134 {
  min-width: 1134px;
}
.min-w-0 {
  min-width: 0;
}
.min-w-198 {
  min-width: 198px;
}
.max-w-1134 {
  max-width: 1134px;
}
.max-w-600 {
  max-width: 600px;
}
.max-w-400 {
  max-width: 400px;
}
.max-w-screen-lg {
  max-width: 1024px;
}
.max-w-screen-md {
  max-width: 769px;
}
.w-116 {
  width: 116px !important;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .lg\:w-full {
    width: 100%;
  }

  .lg\:h-500 {
    height: 500px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .md\:w-full {
    width: 100%;
  }

  .md\:max-w-300 {
    max-width: 300px;
  }

  .md\:max-w-450 {
    max-width: 450px;
  }

  .md\:max-w-720 {
    max-width: 720px;
  }

  .md\:min-w-auto {
    min-width: auto;
  }

  .md\:min-w-720 {
    min-width: 720px;
  }

  .md\:w-720 {
    width: 720px;
  }

  .md\:h-300 {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .sm\:w-auto {
    width: auto;
  }
  .sm\:w-304 {
    width: 304px;
  }
  .sm\:w-421 {
    width: 421px;
  }
  .sm\:w-180 {
    width: 180px;
  }
  .sm\:w-116 {
    width: 116px !important;
  }
  .sm\:w-full {
    width: 100%;
  }
  .sm\:w-36 {
    width: 36px;
  }
  .sm\:w-32 {
    width: 32px;
  }
  .sm\:max-w-full {
    max-width: 100%;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:h-304 {
    height: 304px;
  }
  .sm\:h-90 {
    height: 90px;
  }
  .sm\:h-186 {
    height: 186px;
  }
  .sm\:h-32 {
    height: 32px;
  }
  .sm\:h-180 {
    height: 180px;
  }
  .sm\:h-164 {
    height: 164px;
  }
  .sm\:h-88 {
    height: 88px;
  }
  .sm\:h-224 {
    height: 224px;
  }
  .sm\:max-h-0 {
    max-height: 0;
  }
  .sm\:h-36 {
    height: 36px;
  }
}

.flex-auto {
  flex: 1 1 auto;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}
.shrink-0 {
  flex-shrink: 0;
}
.flex-grow {
  flex-grow: 1;
}
.grow {
  flex-grow: 1;
}
.table-fixed {
  table-layout: fixed;
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.list-none {
  list-style-type: none;
}
.auto-cols-1 {
  grid-auto-columns: 100%;
}
.auto-cols-2 {
  grid-auto-columns: calc((100% - var(--column-gap)) / 2);
}
.grid-flow-col {
  grid-auto-flow: column;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-items {
  justify-items: center;
}
.justify-between {
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:flex-1_0_0 {
    flex: 1 0 0;
  }

  .sm\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }
  .sm\:justify-left {
    justify-content: left;
  }
}

.list-style-none {
  list-style: none;
}

.gap-3 {
  gap: calc(3 * var(--space-unit));
}
.gap-4 {
  gap: calc(4 * var(--space-unit));
}
.gap-4_8 {
  gap: calc(4.8 * var(--space-unit));
}
.gap-6 {
  gap: calc(6 * var(--space-unit));
}
.gap-8 {
  gap: calc(8 * var(--space-unit));
}
.gap-9 {
  gap: calc(9 * var(--space-unit));
}
.gap-10 {
  gap: calc(10 * var(--space-unit));
}
.gap-12 {
  gap: calc(12 * var(--space-unit));
}
.gap-14 {
  gap: calc(14 * var(--space-unit));
}
.gap-16 {
  gap: calc(16 * var(--space-unit));
}
.gap-20 {
  gap: calc(20 * var(--space-unit));
}
.gap-24 {
  gap: calc(24 * var(--space-unit));
}
.gap-32 {
  gap: calc(32 * var(--space-unit));
}
.gap-40 {
  gap: calc(40 * var(--space-unit));
}

.gap-36 {
  gap: calc(36 * var(--space-unit));
}

.gap-48 {
  gap: calc(48 * var(--space-unit));
}
.gap-64 {
  gap: calc(64 * var(--space-unit));
}

.gap-x-3 {
  row-gap: calc(3 * var(--space-unit));
}
.gap-x-4 {
  row-gap: calc(4 * var(--space-unit));
}
.gap-x-4_8 {
  row-gap: calc(4.8 * var(--space-unit));
}
.gap-x-6 {
  row-gap: calc(6 * var(--space-unit));
}
.gap-x-8 {
  row-gap: calc(8 * var(--space-unit));
}
.gap-x-10 {
  row-gap: calc(10 * var(--space-unit));
}
.gap-x-12 {
  row-gap: calc(12 * var(--space-unit));
}
.gap-x-16 {
  row-gap: calc(16 * var(--space-unit));
}
.gap-x-24 {
  row-gap: calc(24 * var(--space-unit));
}
.gap-x-32 {
  row-gap: calc(32 * var(--space-unit));
}
.gap-x-48 {
  row-gap: calc(48 * var(--space-unit));
}

.gap-y-3 {
  column-gap: calc(3 * var(--space-unit));
}
.gap-y-4 {
  column-gap: calc(4 * var(--space-unit));
}
.gap-y-4_8 {
  column-gap: calc(4.8 * var(--space-unit));
}
.gap-y-6 {
  column-gap: calc(6 * var(--space-unit));
}
.gap-y-8 {
  column-gap: calc(8 * var(--space-unit));
}
.gap-y-10 {
  column-gap: calc(10 * var(--space-unit));
}
.gap-y-12 {
  column-gap: calc(12 * var(--space-unit));
}
.gap-y-16 {
  column-gap: calc(16 * var(--space-unit));
}
.gap-y-24 {
  column-gap: calc(24 * var(--space-unit));
}
.gap-y-32 {
  column-gap: calc(32 * var(--space-unit));
}
.gap-y-48 {
  column-gap: calc(48 * var(--space-unit));
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .lg\:gap-10 {
    gap: calc(10 * var(--space-unit));
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .md\:gap-10 {
    gap: calc(10 * var(--space-unit));
  }

  .md\:gap-32 {
    gap: calc(32 * var(--space-unit));
  }
}
@media screen and (max-width: 768px) {
  .sm\:flex {
    display: flex !important;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:items-center {
    align-items: center;
  }
  .sm\:cursor-pointer {
    cursor: pointer;
  }

  .sm\:gap-0 {
    gap: calc(0 * var(--space-unit));
  }
  .sm\:gap-3 {
    gap: calc(3 * var(--space-unit));
  }
  .sm\:gap-4 {
    gap: calc(4 * var(--space-unit));
  }
  .sm\:gap-4_8 {
    gap: calc(4.8 * var(--space-unit));
  }
  .sm\:gap-6 {
    gap: calc(6 * var(--space-unit));
  }
  .sm\:gap-8 {
    gap: calc(8 * var(--space-unit));
  }
  .sm\:gap-10 {
    gap: calc(10 * var(--space-unit));
  }
  .sm\:gap-12 {
    gap: calc(12 * var(--space-unit));
  }
  .sm\:gap-16 {
    gap: calc(16 * var(--space-unit));
  }
  .sm\:gap-24 {
    gap: calc(24 * var(--space-unit));
  }
  .sm\:gap-32 {
    gap: calc(32 * var(--space-unit));
  }
  .sm\:gap-48 {
    gap: calc(48 * var(--space-unit));
  }

  .sm\:gap-x-3 {
    row-gap: calc(3 * var(--space-unit));
  }
  .sm\:gap-x-4 {
    row-gap: calc(4 * var(--space-unit));
  }
  .sm\:gap-x-4_8 {
    row-gap: calc(4.8 * var(--space-unit));
  }
  .sm\:gap-x-6 {
    row-gap: calc(6 * var(--space-unit));
  }
  .sm\:gap-x-8 {
    row-gap: calc(8 * var(--space-unit));
  }
  .sm\:gap-x-10 {
    row-gap: calc(10 * var(--space-unit));
  }
  .sm\:gap-x-12 {
    row-gap: calc(12 * var(--space-unit));
  }
  .sm\:gap-x-16 {
    row-gap: calc(16 * var(--space-unit));
  }
  .sm\:gap-x-24 {
    row-gap: calc(24 * var(--space-unit));
  }
  .sm\:gap-x-32 {
    row-gap: calc(32 * var(--space-unit));
  }
  .sm\:gap-x-48 {
    row-gap: calc(48 * var(--space-unit));
  }

  .sm\:gap-y-3 {
    column-gap: calc(3 * var(--space-unit));
  }
  .sm\:gap-y-4 {
    column-gap: calc(4 * var(--space-unit));
  }
  .sm\:gap-y-4_8 {
    column-gap: calc(4.8 * var(--space-unit));
  }
  .sm\:gap-y-6 {
    column-gap: calc(6 * var(--space-unit));
  }
  .sm\:gap-y-8 {
    column-gap: calc(8 * var(--space-unit));
  }
  .sm\:gap-y-10 {
    column-gap: calc(10 * var(--space-unit));
  }
  .sm\:gap-y-12 {
    column-gap: calc(12 * var(--space-unit));
  }
  .sm\:gap-y-16 {
    column-gap: calc(16 * var(--space-unit));
  }
  .sm\:gap-y-24 {
    column-gap: calc(24 * var(--space-unit));
  }
  .sm\:gap-y-32 {
    column-gap: calc(32 * var(--space-unit));
  }
  .sm\:gap-y-48 {
    column-gap: calc(48 * var(--space-unit));
  }

  .sm\:flex-col {
    flex-direction: column;
  }
}

.self-start {
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.overflow-y-auto {
  overflow-y: auto;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.border {
  border-width: 1px;
}
.border-secondary-text-10pct {
  border: 1px solid rgba(var(--color-secondary-text), 0.1);
}
.bg-error-bg {
  background-color: rgb(var(--error-bg-color));
}
.bg-info-bg {
  background-color: rgb(var(--info-bg-color));
}
.bg-success-bg {
  background-color: rgb(var(--success-bg-color));
}
.bg-theme-bg {
  background-color: rgba(var(--bg-color));
}
.bg-theme-text {
  background-color: rgb(var(--text-color));
}
.object-center {
  object-position: center;
}
.object-top {
  object-position: top;
}
.p-0 {
  padding: 0;
}
.p-4 {
  padding: calc(4 * var(--space-unit));
}
.p-5 {
  padding: calc(5 * var(--space-unit));
}
.p-6 {
  padding: calc(6 * var(--space-unit));
}
.p-8 {
  padding: calc(8 * var(--space-unit));
}
.p-14 {
  padding: calc(14 * var(--space-unit));
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: var(--space-unit);
}
.pb-2 {
  padding-bottom: calc(2 * var(--space-unit));
}
.pb-3 {
  padding-bottom: calc(3 * var(--space-unit));
}
.pb-4 {
  padding-bottom: calc(4 * var(--space-unit));
}
.pb-6 {
  padding-bottom: calc(6 * var(--space-unit));
}
.pb-8 {
  padding-bottom: calc(8 * var(--space-unit));
}
.pb-10 {
  padding-bottom: calc(10 * var(--space-unit));
}
.pb-12 {
  padding-bottom: calc(12 * var(--space-unit));
}
.pb-16 {
  padding-bottom: calc(16 * var(--space-unit));
}
.pb-18 {
  padding-bottom: calc(18 * var(--space-unit));
}
.pb-20 {
  padding-bottom: calc(20 * var(--space-unit));
}
.pb-32 {
  padding-bottom: calc(32 * var(--space-unit));
}
.pb-24 {
  padding-bottom: calc(24 * var(--space-unit));
}
.pb-40 {
  padding-bottom: calc(40 * var(--space-unit));
}
.pb-56 {
  padding-top: calc(56 * var(--space-unit));
}
.pb-56 {
  padding-bottom: calc(56 * var(--space-unit));
}

.pb-88 {
  padding-bottom: calc(88 * var(--space-unit));
}

.pl-6pct {
  padding-left: 6.1111%;
}
.pl-0 {
  padding-left: 0;
}
.pl-2 {
  padding-left: calc(2 * var(--space-unit));
}
.pl-4 {
  padding-left: calc(4 * var(--space-unit));
}
.pl-6_1_1 {
  padding-left: 6.111%;
}
.pl-6 {
  padding-left: calc(6 * var(--space-unit));
}
.pl-8 {
  padding-left: calc(8 * var(--space-unit));
}
.pl-10 {
  padding-left: calc(10 * var(--space-unit));
}
.pl-12 {
  padding-left: calc(12 * var(--space-unit));
}
.pl-14 {
  padding-left: calc(14 * var(--space-unit));
}
.pl-15 {
  padding-left: calc(15 * var(--space-unit));
}
.pl-16 {
  padding-left: calc(16 * var(--space-unit));
}
.pl-20 {
  padding-left: calc(20 * var(--space-unit));
}
.pl-40 {
  padding-left: calc(40 * var(--space-unit));
}
.pl-45 {
  padding-left: calc(45 * var(--space-unit));
}
.pl-120 {
  padding-left: calc(120 * var(--space-unit));
}
.pr-2 {
  padding-right: calc(2 * var(--space-unit));
}
.pr-4 {
  padding-right: calc(4 * var(--space-unit));
}
.pr-6 {
  padding-right: calc(6 * var(--space-unit));
}
.pr-6_1_1 {
  padding-right: 6.111%;
}
.pr-8 {
  padding-right: calc(8 * var(--space-unit));
}
.pr-12 {
  padding-right: calc(12 * var(--space-unit));
}
.pr-15 {
  padding-right: calc(15 * var(--space-unit));
}
.pr-16 {
  padding-right: calc(16 * var(--space-unit));
}
.pr-20 {
  padding-right: calc(20 * var(--space-unit));
}
.pr-6pct {
  padding-right: 6.1111%;
}
.pr-40 {
  padding-right: calc(40 * var(--space-unit));
}
.pr-45 {
  padding-right: calc(45 * var(--space-unit));
}
.pr-120 {
  padding-right: calc(120 * var(--space-unit));
}
.pt-0 {
  padding-top: 0;
}
.pt-2 {
  padding-top: calc(2 * var(--space-unit));
}
.pt-3 {
  padding-top: calc(3 * var(--space-unit));
}
.pt-4 {
  padding-top: calc(4 * var(--space-unit));
}
.pt-5 {
  padding-top: calc(5 * var(--space-unit));
}
.pt-6 {
  padding-top: calc(6 * var(--space-unit));
}
.pt-8 {
  padding-top: calc(8 * var(--space-unit));
}
.pt-10 {
  padding-top: calc(10 * var(--space-unit));
}
.pt-12 {
  padding-top: calc(12 * var(--space-unit));
}
.pt-14 {
  padding-top: calc(14 * var(--space-unit));
}
.pt-16 {
  padding-top: calc(16 * var(--space-unit));
}
.pt-18 {
  padding-top: calc(18 * var(--space-unit));
}
.pt-20 {
  padding-top: calc(20 * var(--space-unit));
}
.pt-32 {
  padding-top: calc(32 * var(--space-unit));
}
.pt-34 {
  padding-top: calc(34 * var(--space-unit));
}
.pt-40 {
  padding-top: calc(40 * var(--space-unit));
}
.pt-24 {
  padding-top: calc(24 * var(--space-unit));
}
.pt-48 {
  padding-top: calc(48 * var(--space-unit));
}
.pt-64 {
  padding-top: calc(64 * var(--space-unit));
}
.pt-88 {
  padding-top: calc(88 * var(--space-unit));
}
.p-16 {
  padding: 16px;
}
.p-30 {
  padding: 30px;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .md\:p-16 {
    padding: 16px;
  }
}

@media screen and (max-width: 768px) {
  .sm\:overflow-hidden {
    overflow: hidden;
  }
  .sm\:pl-0 {
    padding-left: 0;
  }
  .sm\:pl-3 {
    padding-left: calc(3 * var(--space-unit));
  }
  .sm\:pl-3_9_8 {
    padding-left: 3.98%;
  }

  .sm\:pr-0 {
    padding-right: 0;
  }

  .sm\:pr-3_9_8 {
    padding-right: 3.98%;
  }

  .sm\:pt-0 {
    padding-top: 0;
  }

  .sm\:pt-4 {
    padding-top: calc(4 * var(--space-unit));
  }

  .sm\:pt-8 {
    padding-top: calc(8 * var(--space-unit));
  }
  .sm\:pt-10 {
    padding-top: calc(10 * var(--space-unit));
  }
  .sm\:pt-15 {
    padding-top: calc(15 * var(--space-unit));
  }

  .sm\:pt-16 {
    padding-top: calc(16 * var(--space-unit));
  }
  .sm\:pt-20 {
    padding-top: calc(20 * var(--space-unit));
  }

  .sm\:pt-23 {
    padding-top: calc(23 * var(--space-unit));
  }

  .sm\:pt-24 {
    padding-top: calc(24 * var(--space-unit));
  }

  .sm\:pt-40 {
    padding-top: calc(40 * var(--space-unit));
  }

  .sm\:pb-0 {
    padding-bottom: calc(0 * var(--space-unit));
  }

  .sm\:pb-4 {
    padding-bottom: calc(4 * var(--space-unit));
  }
  .sm\:pb-8 {
    padding-bottom: calc(8 * var(--space-unit));
  }
  .sm\:pb-10 {
    padding-bottom: calc(10 * var(--space-unit));
  }

  .sm\:pb-15 {
    padding-bottom: calc(15 * var(--space-unit));
  }

  .sm\:pb-16 {
    padding-bottom: calc(16 * var(--space-unit));
  }

  .sm\:pb-20 {
    padding-bottom: calc(20 * var(--space-unit));
  }

  .sm\:pb-23 {
    padding-bottom: calc(23 * var(--space-unit));
  }

  .sm\:pb-24 {
    padding-bottom: calc(24 * var(--space-unit));
  }
  .sm\:p-0 {
    padding: calc(0 * var(--space-unit));
  }
  .sm\:p-4 {
    padding: calc(4 * var(--space-unit));
  }
  .sm\:p-20 {
    padding: calc(20 * var(--space-unit));
  }
  .sm\:pl-0 {
    padding-left: 0px;
  }
  .sm\:pl-3pct {
    padding-left: 3.98%;
  }

  .sm\:pr-0 {
    padding-right: 0px;
  }
  .sm\:pr-3pct {
    padding-right: 3.98%;
  }
  .sm\:pr-3 {
    padding-right: calc(3 * var(--space-unit));
  }

  .sm\:p-0 {
    padding: 0;
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.text-sm {
  font-size: 0.88em;
}
.text-xs {
  font-size: 0.75em;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.leading-none {
  line-height: 1;
}
.text-current {
  color: currentColor;
}
.text-error-text {
  color: rgb(var(--error-text-color));
}
.text-info-text {
  color: rgb(var(--info-text-color));
}
.text-inherit {
  color: inherit;
}
.text-success-text {
  color: rgb(var(--success-text-color));
}
.text-theme-bg {
  color: rgba(var(--bg-color));
}
.text-theme-heading {
  color: rgb(var(--heading-color));
}
.text-theme-light {
  color: rgba(var(--text-color) / 0.6);
}
.text-theme-text {
  color: rgb(var(--text-color));
}
.underline {
  text-decoration-line: underline;
}
.line-through {
  text-decoration: line-through;
}
.no-underline {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .sm\:text-center {
    text-align: center;
  }
  .sm\:text-left {
    text-align: left;
  }
}
.translate-y--20 {
  transform: translateY(-20px);
}
.translate-x--50 {
  transform: translateX(-50%);
}
.translate-x--100 {
  transform: translateX(-100%);
}
.translate-y--50 {
  transform: translateY(-50%);
}
.translate--50--50 {
  transform: translate(-50%, -50%);
}
.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.js .js-hidden,
.no-js .no-js-hidden {
  display: none;
}
@media (max-width: 768.98px) {
  .header__icon.js .js-hidden.md\:block,
  .header__icon .no-js .no-js-hidden.md\:block {
    display: none;
  }
}

.no-js .no-js-visible {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.object-bottom {
  object-position: bottom;
}

.object-top {
  object-position: top;
}

[hidden] {
  display: none !important;
}

@media (prefers-reduced-motion) {
  .has-motion {
    transition: none !important;
    animation: none !important;
  }
}
@media (hover: none) {
  .no-hover-hidden {
    display: none !important;
  }
}

.border-top {
  border-top: 1px solid rgba(var(--text-color) / 0.15);
}

.border-bottom {
  border-bottom: 1px solid rgba(var(--color-primary-text), 0.1);
}

.start {
  left: var(--start-gutter, 0);
}
[dir="rtl"] .start {
  right: var(--start-gutter, 0);
  left: auto;
}

.end {
  right: var(--end-gutter, 0);
}
[dir="rtl"] .end {
  right: auto;
  left: var(--end-gutter, 0);
}

.mis-2 {
  margin-inline-start: calc(2 * var(--space-unit));
}

.mis-auto {
  margin-inline-start: auto;
}

.mie-auto {
  margin-inline-end: auto;
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.transform-none {
  transform: none;
}

.tap-target {
  position: relative;
}
.tap-target::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.tap-target--left::after {
  left: 0;
  transform: translateY(-50%);
}

.tap-target--right::after {
  right: 0;
  left: auto;
  transform: translateY(-50%);
}

.top-header-offset {
  top: calc(var(--header-end-padded, 0) * -1);
}

.visible-lg {
  display: none !important;
}

.alert {
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}
.alert.bg-success-bg {
  border: 1px solid rgba(var(--success-text-color) / 0.2);
}
.alert.bg-error-bg {
  border: 1px solid rgba(var(--error-text-color) / 0.2);
}
.alert[autofocus] {
  outline: 0;
}
.alert-error {
  background-color: #fee;
  color: #c33;
  border: 1px solid #fcc;
}

.alert-success {
  background-color: #efe;
  color: #363;
  border: 1px solid #cfc;
}

.text-success-text {
  --heading-color: rgb(var(--success-text-color));
  --link-color: rgb(var(--success-text-color));
}

.text-error-text {
  --heading-color: rgb(var(--error-text-color));
  --link-color: rgb(var(--error-text-color));
}

.text-decoration-none {
  text-decoration: none;
}

.button {
  border: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: calc(14 * var(--font-unit));
  line-height: 100%;
  letter-spacing: 0;
}

.button--solid {
  background: rgb(var(--color-primary-brand));
  color: rgb(var(--color-background));
  padding: 16px;
}

.button--outline {
  background: rgb(var(--color-background));
  color: rgb(var(--color-primary-brand));
  border-radius: 6px;
  border: 1.5px solid rgba(var(--color-primary-brand));
  padding: 10px 16px;
}

.button:disabled {
  background: rgb(var(--color-primary-brand));
  cursor: not-allowed;
}

shop-login-button {
  --buttons-radius: var(--btn-border-radius, 0);
}

.custom-select__btn {
  display: flex;
  width: var(--custom-select-button-width, auto);
  min-width: 100%;
  max-width: 100%;
  background-color: rgb(var(--input-bg-color));
  color: rgb(var(--input-text-color));
  font-size: 0.88em;
  font-weight: bold;
  line-height: 0.88em;
}
.custom-select__btn.is-loading {
  color: rgba(var(--input-text-color) / 0.2);
}
.custom-select__btn > .icon {
  flex-shrink: 0;
  width: 36px;
  height: 20px;
  margin-inline-start: auto;
  margin-inline-end: -5px;
  padding-inline-start: 16px;
}

.custom-select__listbox {
  z-index: 100;
  top: 5px;
  left: -5px;
  min-width: 100%;
  max-height: 20em;
  overflow-y: auto;
  border: var(--input-border-width) solid rgba(var(--input-text-color) / 0.2);
  outline: 0;
  background-color: var(--input-bg-color-diff-3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  color: rgb(var(--input-text-color));
  font-size: 0.88em;
}
.custom-select__listbox[aria-hidden="false"] {
  visibility: visible;
}

.custom-select__option {
  padding: 10px 16px;
  cursor: pointer;
}
.custom-select__option > em {
  flex-shrink: 0;
  margin-inline-start: auto;
  padding-inline-start: 1em;
  font-style: normal;
}
.custom-select__option.is-focused {
  outline: 0;
  background-color: var(--input-bg-color-diff-6);
  color: rgb(var(--input-text-color));
}

.custom-select__option--visual-group-end:not(:last-child) {
  position: relative;
  margin-bottom: 0.8em;
}
.custom-select__option--visual-group-end:not(:last-child)::after {
  content: "";
  position: absolute;
  top: calc(100% + 0.4em);
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgb(var(--input-text-color));
  opacity: 0.1;
  pointer-events: none;
}

.checkbox {
  position: absolute;
  opacity: 0;
}
.checkbox + label {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
  vertical-align: top;
  cursor: pointer;
}
.checkbox + label::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-top: calc(0.75em - 11px);
  margin-inline-end: 0.75em;
  border: var(--input-border-width) solid rgb(var(--text-color));
  border-radius: 2px;
  background-color: rgb(var(--input-bg-color));
}
.checkbox:checked + label::before {
  border-color: rgb(var(--text-color));
  background-color: rgb(var(--text-color));
}
.checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: calc(0.75em - 1.5px);
  left: 11px;
  width: calc((22px - (var(--input-border-width) * 2)) * 0.375);
  height: calc((22px - (var(--input-border-width) * 2)) * 0.75);
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid rgba(var(--bg-color));
  border-width: 0 2px 2px 0;
}
[dir="rtl"] .checkbox:checked + label::after {
  right: 11px;
  left: auto;
  transform: translate(50%, -50%) rotate(45deg);
}
.checkbox[disabled] + label {
  opacity: 0.5;
  cursor: default;
}

.radio {
  position: absolute;
  opacity: 0;
}
.radio + label {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
  vertical-align: top;
  cursor: pointer;
}
.radio + label::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-inline-end: 0.75em;
  border: var(--input-border-width) solid rgb(var(--text-color));
  border-radius: 2px;
  background-color: rgb(var(--input-bg-color));
  width: 22px;
  height: 22px;
  margin-top: calc(0.75em - 11px);
  border-radius: 50%;
}
.radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0.75em;
  left: 11px;
  width: calc((22px - (var(--input-border-width) * 2)) * 0.625);
  height: calc((22px - (var(--input-border-width) * 2)) * 0.625);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(var(--text-color));
}
[dir="rtl"] .radio:checked + label::after {
  right: 11px;
  left: auto;
  transform: translate(50%, -50%);
}

.custom-select__option > em {
  padding-inline-start: 2em;
}

.custom-select__listbox {
  min-width: max(100%, 165px);
  border-radius: var(--modal-border-radius);
}
.border-none {
  border: none;
}

.rounded-full {
  border-radius: 50%;
}
.rounded-100 {
  border-radius: 100px;
}
.rounded-12 {
  border-radius: 12px;
}
.rounded-8 {
  border-radius: 8px;
}
.rounded-6 {
  border-radius: 6px;
}
.rounded-5 {
  border-radius: 5px;
}
.rounded-32 {
  border-radius: 32px;
}
.rounded-t-l-0 {
  border-top-left-radius: 0;
}
.rounded-t-r-0 {
  border-top-right-radius: 0;
}
.rounded-b-r-32 {
  border-bottom-right-radius: 32px;
}
.rounded-b-l-32 {
  border-bottom-left-radius: 32px;
}

.border-1 {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-solid {
  border-style: solid;
}
.border-color {
  border-color: rgb(var(--color-border));
}
.border-bg {
  border-color: rgb(var(--color-background));
}

.opacity-0 {
  opacity: 0;
}
.opacity-0_7 {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .sm\:rounded-0 {
    border-radius: 0;
  }

  .sm\:rounded-full {
    border-radius: 50%;
  }

  .sm\:border-none {
    border: none;
  }
  .sm\:rounded-b-l-13 {
    border-bottom-left-radius: 13px;
  }
  .sm\:rounded-b-r-13 {
    border-bottom-right-radius: 13px;
  }
}

fieldset {
  margin: 0;
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

.label {
  display: block;
  margin: 0 0 calc(2 * var(--space-unit));
  font-size: 0.88em;
  font-weight: 700;
  text-align: start;
}

.label--inline {
  display: inline-block;
  margin: 0;
}

.is-required > label:not(.required-inline)::after {
  content: " *";
}

.transition-transform {
  transition: transform 0.3s ease;
}

input,
select {
  width: 100%;
  padding: 0px 16px;
  border: 1px solid rgba(var(--color-primary-text), 0.2);
  border-radius: 12px;
  transition: all 0.2s ease;
  line-height: 0px !important;
  height: 54px;
}

input + label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: rgba(var(--color-primary-text), 0.5);
  pointer-events: none;
  transition: 0.2s ease all;
}

input[type="date"] {
  min-height: calc(
    (var(--input-padding-y, 11px) + var(--input-border-width)) * 2 + 1.2em
  );
  -webkit-appearance: none;
}

.input,
select {
  max-width: 100%;
  margin: 0;
  padding: var(--input-padding-y, 11px) 24px;
  transition: border-color 0.2s, box-shadow 0.2s, outline 0.2s;
  border: var(--input-border-width) solid rgba(var(--input-text-color) / 0.2);
  border-radius: var(--input-border-radius, 0);
  background-color: rgb(var(--input-bg-color));
  color: rgb(var(--input-text-color));
  font-size: 0.88em;
  line-height: 1.2em;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 4px;
  left: 16px;
  font-size: 12px;
  transform: translateY(0);
  color: rgb(var(--color-primary-text)) !important;
  font-weight: 500;
}

input:focus {
  outline: none;
  border-color: rgba(var(--color-primary-text), 0.2);
  border: 1px solid rgba(var(--color-secondary-text), 0.2);
  box-shadow: none;
}

input[type="password"],
input[data-password-field="true"] {
  padding-right: 40px;
}

.input::placeholder {
  color: rgba(var(--input-text-color) / 0.5);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  outline: none;
  border-color: rgba(var(--color-primary-text), 0.2);
  -webkit-text-fill-color: rgb(var(--color-primary-text));
  background-color: rgb(var(--color-background));
}

input:-webkit-autofill + label {
  top: 4px;
  left: 16px;
  font-size: 12px;
  transform: translateY(0);
  color: rgb(var(--color-primary-text)) !important;
  font-weight: 500;
  padding-bottom: 4px;
}

[type="email"],
[type="tel"] {
  text-align: start;
}

[type="number"] {
  -moz-appearance: textfield;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  margin: 0;
  -webkit-appearance: none;
}

textarea {
  border-radius: var(--textarea-border-radius) !important;
  vertical-align: top;
  resize: vertical;
}

select {
  padding-inline-end: 48px;
  font-weight: 700;
  -webkit-appearance: none;
  appearance: none;
}

.select::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: rgb(var(--input-text-color));
  pointer-events: none;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><path d='M20 8.5 12.5 16 5 8.5' fill='none' stroke='currentColor' stroke-width='1.5'/></svg>");
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><path d='M20 8.5 12.5 16 5 8.5' fill='none' stroke='currentColor' stroke-width='1.5'/></svg>");
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.placeholder-svg {
  width: 100%;
  height: 100%;
}
.object-cover {
  object-fit: cover;
}
.object-contain {
  object-fit: contain;
}
.img-fit,
.md\:img-fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-fit.img-fit--contain,
.md\:img-fit.img-fit--contain {
  object-fit: contain;
}

.icon {
  vertical-align: top;
  pointer-events: none;
}

[dir="rtl"] .has-ltr-icon .icon {
  transform: scaleX(-1);
}

.image-blend {
  background-color: var(--blend-bg-color) !important;
}
.image-blend img {
  mix-blend-mode: multiply;
}

@media (max-width: 768px) {
  .md\:img-fit {
    position: static;
  }

  .md\:object-contain {
    object-fit: contain;
  }
}
a,
.link {
  text-decoration: none;
}

html:not([dir="rtl"]) .is-success::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 20px;
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid rgb(var(--success-text-color));
  border-width: 0 2px 2px 0;
}

html:not([dir="rtl"]) .is-success::before {
  animation: checkmark 1.4s ease;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgba(var(--color-secondary-text), 0.1);
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgba(var(--color-secondary-text), 0.1); /* Border bottom for each cell */
}

tr:last-child td {
  border-bottom: none; /* Remove bottom border from last row */
}

.backdrop-blur-10 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.break-word {
  word-wrap: break-word;
}

/* mobile (SM border */

@media screen and (max-width: 768px) {
  .sm\:border-bottom-10pct {
    border-bottom: 1px solid rgba(var(--color-primary-text), 0.1);
  }

  /* transition */

  .sm\:transition-all-3ms {
    transition: all 0.3s ease;
  }

  .sm\:transition-max-height-3ms {
    transition: max-height 0.3s ease;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .slg\:max-w-900 {
    max-width: 900px;
  }

  .slg\:max-w-400 {
    max-width: 400px;
  }

  .slg\:min-w-900 {
    min-width: 900px;
  }

  .slg\:min-w-150 {
    min-width: 150px;
  }

  .slg\:min-w-100 {
    min-width: 100px;
  }

  .slg\:w-400 {
    width: 400px;
  }

  .slg\:w-auto {
    width: auto;
  }

  .slg\:pt-20 {
    padding-top: calc(20 * var(--space-unit));
  }

  .slg\:pb-20 {
    padding-bottom: calc(20 * var(--space-unit));
  }

  .slg\:pl-32 {
    padding-left: calc(20 * var(--space-unit));
  }

  .slg\:pr-32 {
    padding-right: calc(20 * var(--space-unit));
  }

  .slg\:pt-10 {
    padding-top: calc(10 * var(--space-unit));
  }

  .slg\:pb-10 {
    padding-bottom: calc(10 * var(--space-unit));
  }

  .slg\:pl-16 {
    padding-left: calc(16 * var(--space-unit));
  }

  .slg\:pr-16 {
    padding-right: calc(16 * var(--space-unit));
  }

  .slg\:left-100pct {
    left: 100%;
  }
}
@keyframes play-normal-0-to-n100 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.play-normal-0-to-n100 {
  animation: play-normal-0-to-n100 linear infinite;
}

/* utilist  */
.status-paid {
  background: #10b981; /* Green */
}

.status-pending,
.status-ongoing {
  background: #f59e0b; /* Amber */
}

.status-authorized {
  background: #3b82f6; /* Blue */
}

.status-partially-paid {
  background: #8b5cf6; /* Purple */
}

.status-partially-refunded {
  background: #a855f7; /* Light Purple */
}

.status-refunded {
  background: #6366f1; /* Indigo */
}

.status-voided {
  background: #9ca3af; /* Gray */
}

.status-cancelled {
  background: #ef4444; /* Red */
}
.progress-bar-pagination .swiper-pagination-progressbar-fill {
  background: rgb(var(--color-primary-brand));
}

.black-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 4.89%, #000 100%);
}
