.price-range__sliders {
  height: 28px;
  background: linear-gradient(to right, #e5e5e5 0%, #e5e5e5 100%) no-repeat center/100% 2px;
  position: relative;
  border: none;
}
.price-range__sliders input {
  padding: 0 !important;
}

.price-range__sliders::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: #e5e5e5;
  transform: translateY(-50%);
  z-index: 1;
}

.price-range__sliders::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  background: #333;
  transform: translateY(-50%);
  z-index: 2;
  left: var(--range-min, 0%);
  right: var(--range-max, 0%);
}

.price-range__slider-input {
  position: absolute;
  width: calc(100% + 16px);
  height: 100%;
  margin: 0 -8px;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: auto;
  z-index: 3;
}

.price-range__slider-input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  transition: 0.3s;
  border-radius: 50%;
  background-color: rgb(var(--color-primary-brand));
  appearance: none;
  cursor: grab;
}

.price-range__slider-input::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  transition: 0.3s;
  border-radius: 50%;
  background-color: rgb(var(--color-primary-brand));
  appearance: none;
  cursor: grab;
}
