.scrolling-logo {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.scrolling-logo__items-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 0px 2.2222% !important;
  max-width: 97.98% !important;
  margin: 0 auto !important;
}

.scrolling-logo__item {
  flex-shrink: 0;
  text-align: center;
}

@keyframes scroll-normal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-logo__items--normal {
  animation: scroll-normal linear infinite;
}

@media screen and (max-width: 768px) {
  .scrolling-logo__items {
    gap: 0px !important;
  }

  .scrolling-logo__items-container {
    max-width: 100% !important;
    padding: 0px 0% !important;
    margin: 0 auto !important;
  }
}
